@font-face {
    font-family: "FuturaWeb-light";
    src: url('../fonts/FTN45__W.woff');
}
@font-face {
    font-family: "FuturaWeb-bold";
    src: url('../fonts/FTN85__W.woff');
}
body{
    margin: 0%;
    padding: 0%;
    font-family: "FuturaWeb-light";
}
#app{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 100%;
}
#app{
    margin-top: 50px;
}
header{
    
    text-align: center;
}

header span{
    
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
header img{
    width: 150px;
}
.italic{
    font-style: italic;
}
.blue{
    color: #0066b3;
}
.underline{
    text-decoration: underline;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
footer img{
    width: 33px;
}
footer span{
    font-size: 20px;
    font-weight: 600;
}
.label{
    display: flex;
    align-items: center;
    font-weight: 200 !important;
    font-size: 20px;
}
.grey{
    color: #4C556C;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
form{
    width: 90%;
}
main span{
    font-size: 20px;
}
main svg{
    padding-right: 7px;
}
main input{
    font-family: "FuturaWeb-light";
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(253, 169, 23);
    outline: none;
    font-size: 20px;
    padding-bottom: 5px;
    border-radius: 0%;
}
.txtcenter{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
main button{
    background: rgb(253, 169, 23);
    outline: none;
    box-sizing: border-box;
    border: none;
    width: 100%;
    border-radius: 3px;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    font-size: 17px;
    margin-bottom: 30px;
    padding-left: 0%;
}
.class-1::before{
    content: 'Aplicativo Ca';
}
.class-1::after{
    content: 'ixa Tem';
}
#error{
    background: #fee5e7;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    color: red;
    padding: 10px 0 10px 21px;
    margin-bottom: 30px;
}
.hidden{
    display: none !important;
}
.form-group {
    position: relative;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
}